{% extends 'items/base.html' %}
{% load static %}
{% load hitcount_tags %}


{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="col-lg-6" style="float:none;margin:auto;">
            <div class="card h-100">
                <a href="{% url 'items:item' item.slug %}">
                    <img class="card-img-top"
                         src="{{ item.image.url }}"
                         alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'items:item' item.slug %}">{{ item.name }}</a>
                    </h4>
                    <h5>{{ item.quality }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                </div>
        {% if user.is_authenticated %}
                    <div class="card-footer text-center">
                        <a class="btn btn-outline-success"
                           href="{% url 'items:favourite_item' item.slug %}">
                            {% if user not in item.favourite.all %}
                                Add Item
                            {% else %}
                                Delete Item
                            {% endif %}
                        </a>
                    </div>




        {% endif %}
            </div>
        <br>
            <div class="single-form-center">
                <!-- contact form grid -->
                <div class="contact-single">

                                    <p>
                        {% load ratings %}
                        {% ratings object %}
                    </p>

                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent" style="outline: none; cursor: inherit;"></span>
                        Comments({{ post_comments_count }})
                    </h3>
                    <p>{{ item.created_timestamp }} | {{ item.category }} | {% get_hit_count for item %} watching</p>

                    <div class="media-list">
                        {% for comment in post_comments %}
                            <div>
                                <img  width="50" height="50" src="
                                    {% if comment.user.image %}
                                        {{ comment.user.image.url }}
                                    {% else %}
                                        {% static 'vendor/img/users/default_avatar.jpg' %}
                                    {% endif %}" alt="Avatar">

                                <div class="media-body">
                                    <div class="small-1">
                                        <b> {{ comment.user }}</b>
                                        <time class="ml-4 opaciy-70 small-3"> {{ comment.date }}</time>
                                    </div>
                                    <p> {{ comment.content }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% if user.is_authenticated %}

                    <form method="POST" action="{% url 'items:item' item.slug %}">
                        {% csrf_token %}
                        <div class="form-group">
                                    {{ form.as_p }}
                        </div>
                        <button class="btn btn-primary btn-block " type="submit">Comment</button>
                    </form>

                {% endif %}

                </div>
            </div>
        </div>
    </div>
                <!--  //contact form grid ends here -->

{% endblock %}

{% block footer %}

    <br>
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: #343a40;">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
      </div>
    </footer>

{% endblock %}