{% load static %}

<head>
    <title>{{ title }}</title>
  <style>
    .navbar-dark .navbar-brand {
      color: #fff;
    }
     .navbar .dropdown-menu {
      max-height: 200px;
      overflow-y: auto;
    }
    .dropdown-menu-right {
      right: 0;
      left: auto;
    }
    .nav-item.active .nav-link {
      border: 1px solid #007bff;
      border-radius: 5px;
    }
    .dropdown-item:hover {
      background-color: gray;
    }
    .navbar-brand.active {
  border: 1px solid #007bff;
  border-radius: 5px;
}
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">
  Landing Page
</a>
    <form class="form-inline mx-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto">



<li class="nav-item {% if request.path == '/items/' %}active{% endif %}">
      <a class="nav-link" href="{% url 'items:index' %}">Items</a>
</li>

    <li class="nav-item dropdown">
        
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        WorldBuilding
      </a>

        <div id="myDropdownMenu" class="dropdown-menu dropdown-menu-right bg-dark w-100" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="{% url 'worlds:index' %}">Spheres</a>
            <a class="dropdown-item text-light" href="{% url 'worlds:index' %}">Worlds</a>
            <a class="dropdown-item text-light" href="{% url 'worlds:gods' %}">Gods</a>
        </div>

    </li>


    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ user.get_username }}
      </a>
      <div id="myDropdownMenu" class="dropdown-menu dropdown-menu-right bg-dark w-100" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-light" href="{% url 'users:profile' %}">Profile</a>
          {% if user.is_superuser or user.is_staff %}
            <a class="dropdown-item text-light" href="{% url 'admin:index' %}">Admin Panel</a>
          {% endif %}
          <a class="dropdown-item text-light" href="{% url 'users:logout' %}">Logout</a>
      </div>
    </li>
    {% else %}
        <li class="nav-item">
        <a class="dropdown-item text-light" href="{% url 'users:login' %}">Log In</a>
      </li>
    {% endif %}

    </ul>
  </nav>

  <div class="container">
    <!-- Content goes here -->
  </div>

</body>
