{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.css" %}">
    <title>{{ title }}</title>
    {% block css %} {% endblock %}
    <style>
        body {
          background-color: #212529;
        }
        .pagination .disabled a {
            color: #6c757d !important;
            pointer-events: none;
            cursor: not-allowed;
        }
    </style>
</head>

<body>

{% include 'partials/_navbar.html' %}

{% include 'partials/_messages.html' %}

{% block content %} {% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js" ></script>
<script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>

{% block script %}
    <script>
        $(document).ready(function() {
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove();
                });
            }, 4000);
        });
    </script>
{% endblock script %}

{% include 'partials/_pagination.html' %}

{% block footer %}
    {% include 'partials/_footer.html' %}
{% endblock %}

</body>

</html>
