{% extends 'rating/info/info_base.html' %}
{% block main %}
    <div style="font-size: medium">
        <p2>Count: {{ count }}</p2><br>
        <p2>Average: {% if count %}{{ average }}/{{ settings.rates }}{% else %}-{% endif %}</p2><br>
        <p2>Your Rate:
            {% if request.user.is_authenticated %}
                {% if rate is not None %}{{ rate }}/{{ settings.rates }}{% else %}-{% endif %}
            {% else %}
                <a href="{% url 'users:login' %}">Login Here</a>
            {% endif %}
        </p2>
    </div>
{% endblock %}
