{% extends 'partials/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load rating_tags %}


{#{% block content %}#}
{#<div class="container py-4">#}
{#  <div class="row">#}
{#    <div class="col-md-8 mx-auto">#}
{#      <div class="card">#}
{#        <div class="row no-gutters">#}
{#          <div class="col-md-4">#}
{#            <a href="{% url 'worlds:world' world.slug %}">#}
{#              <img src="{{ world.image.url }}" class="card-img" alt="{{ world.name }}">#}
{#            </a>#}
{#          </div>#}
{#          <div class="col-md-8">#}
{#            <div class="card-body">#}
{#              <h4 class="card-title">#}
{#                <a href="{% url 'worlds:world' world.slug %}">{{ world.name }}</a>#}
{#              </h4>#}
{#              <h6 class="mb-0">{{ world.world_type }}</h6>#}
{#              {% render_rating request=request obj=world settings_slug='default-config' %}#}
{#              <p class="card-text my-3">{{ world.description }}</p>#}
{#              {% if user.is_authenticated %}#}
{#              <div class="mb-3">#}
{#                <a href="{% url 'worlds:fav_world' world.slug %}"#}
{#                  class="btn btn-outline-warning btn-block">#}
{#                  {% if user not in world.fav_world.all %}#}
{#                  <i class="fas fa-star"></i> Add to Favorites#}
{#                  {% else %}#}
{#                  <i class="fas fa-star"></i> Remove from Favorites#}
{#                  {% endif %}#}
{#                </a>#}
{#              </div>#}
{#              {% endif %}#}
{#              <div class="d-flex justify-content-between align-items-center mt-4">#}
{#                <div>#}
{#                  <h6 class="mb-0">Comments ({{ post_comments_count }})</h6>#}
{#                  <small class="text-muted">{{ world.created_timestamp|date:"d M Y" }}#}
{#                    | {% get_hit_count for world %} hits</small>#}
{#                </div>#}
{#                <div>#}
{#                  <button type="button" class="btn btn-outline-warning" data-toggle="collapse"#}
{#                    data-target="#commentForm" aria-expanded="false" aria-controls="commentForm">Leave a Comment</button>#}
{#                </div>#}
{#              </div>#}
{#              <hr class="my-4">#}
{#              <div id="commentForm" class="collapse">#}
{#                {% if user.is_authenticated %}#}
{#                <form method="POST" action="{% url 'worlds:world' world.slug %}" class="comment-form">#}
{#                  {% csrf_token %}#}
{#                  <div class="form-group">#}
{#                    {{ form.as_p }}#}
{#                  </div>#}
{#                  <div class="text-center">#}
{#                    <button class="btn btn-warning" type="submit">Submit</button>#}
{#                  </div>#}
{#                </form>#}
{#                {% else %}#}
{#                <div class="alert alert-warning" role="alert">#}
{#                  You need to <a href="{% url 'login' %}">log in</a> to leave a comment.#}
{#                </div>#}
{#                {% endif %}#}
{#              </div>#}
{#              <div class="media-list mt-4">#}
{#                {% for comment in post_comments %}#}
{#                <div class="media mb-3">#}
{#                  <img src="#}
{#                        {% if comment.user.image %}#}
{#                            {{ comment.user.image.url }}#}
{#                        {% else %}#}
{#                            {% static 'vendor/img/users/default_avatar.jpg' %}#}
{#                        {% endif %}#}
{#                    " alt="Avatar" class="comment-avatar">#}
{#                  <div class="media-body">#}
{#                    <div class="d-flex justify-content-between align-items-center">#}
{#                      <h6 class="comment-author mb-0">{{ comment.user }}</h6>#}
{#                      <small class="text-muted comment-date">{{ comment.date|date:"d M Y" }}</small>#}
{#                    </div>#}
{#                    <p class="comment-content my-1"><pre>{{ comment.content }}</pre></p>#}
{#                  </div>#}
{#                </div>#}
{#                {% empty %}#}
{#                <p class="text-muted">No comments yet.</p>#}
{#                {% endfor %}#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="card-footer bg-transparent">#}
{#          {% render_rating_info request=request obj=world settings_slug='default-config' %}#}
{#        </div>#}
{#      </div>#}
{#      <div class="my-5"></div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{##}
{#{% endblock %}#}



{% block content %}

<body class="text-white">

<div class="container mt-4" style="margin-bottom: 60px;">
  <div class="row">
    <div class="col-md-3">

<div class="filter-section border border-secondary p-3">
  <div class="container mt-0">

    <div class="row">
      <div class="col">
            <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">World type</h5>
            <a>
                {% include 'partials/_modal.html' with slug=world.world_type.slug title=world.world_type.name cont=world.world_type.description %}
            </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
            <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">World gods</h5>

          {% for god in world.world_gods.all %}
        <a href="{% url 'worlds:gods' slug=god.slug %}">
        {{ god.name }}
        </a>
            <br>
          {% endfor %}

      </div>
    </div>

    <div class="row">
      <div class="col">

      <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">{{ world.sphere.name }}</h5>

        {% for s_world in similar_worlds %}
          <a href="{% url 'worlds:world' slug=s_world.slug %}">
            {{ s_world.name }}
          </a>
          <br>
        {% empty %}
          <a>No worlds found in {{ world.sphere.name }}</a>
          <br>
        {% endfor %}

      </div>
    </div>

  <div class="row">
  <div class="col">
    <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">Favourite</h5>
    <a href="{% url 'worlds:fav_world' world.slug %}">
      {% if user not in world.fav_world.all %}
          <i class="far fa-heart text-white" style="font-size: 20px;"></i> Add Item
      {% else %}
          <i class="fas fa-heart text-white" style="font-size: 20px;"></i> Delete Item
      {% endif %}
    </a>
  </div>
</div>

<div class="row">
    <div class="col">
        <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">Rating</h5>
        <a>
            {% render_rating_import %}
            {% render_rating request=request obj=world settings_slug='default-config' %}
            {% render_rating_info request=request obj=world settings_slug='default-config' %}
            {% render_rating_script %}
        </a>
    </div>
</div>





  </div>
</div>

    </div>

        <div class="col-md-9">
        <div class="row">

    <div class="col-md-12 mb-4">

      <div class="card bg-dark text-white">
        <div class="card-body bg-dark text-light">
                            <div class="row no-gutters">
            <div class="col-md-12">
              <h1 class="text-center">{{ world.name }}</h1>
            </div>
          </div>

    <div class="row">
        <div class="col-md-4">
            {% include 'partials/_modal-img.html' with title=world.name img=world.image.url slug=world.slug modal_size="modal-lg" %}
        </div>

        <div class="col-md-12">
        <div>
          <p style="font-size: 1rem; padding: 15px;">{{ world.description }}</p>
        </div>


                         <!-- Comment section -->
<hr class="my-3 border-white">
              <div class="d-flex justify-content-between align-items-center">
<div>
  <h6 class="mb-0">Comments ({{ post_comments_count }})</h6>
  <small class="text-muted">Added {{ world.created_timestamp|date:"H:i:s d M Y" }}
    | {% get_hit_count for world %} hits</small>
</div>

<div>
  <button type="button" class="btn btn-outline-primary text-white" data-toggle="collapse"
    data-target="#commentForm" aria-expanded="false" aria-controls="commentForm">Leave a Comment</button>
</div>

              </div>
    <hr class="my-3">
              <div id="commentForm" class="collapse">
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'worlds:world' world.slug %}" class="comment-form">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.as_p }}
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary text-white" type="submit">Submit</button>
                  </div>
                </form>
                {% else %}
                <div class="alert alert-warning" role="alert">
                  You need to <a href="{% url 'users:login' %}">log in</a> to leave a comment.
                </div>
                {% endif %}
              </div>

              <div class="media-list mt-4">

{% for comment in post_comments %}
<div class="media mb-3">
  <img class="mr-3" width="50" height="50" src="
    {% if comment.user.image %}
      {{ comment.user.image.url }}
    {% else %}
      {% static 'vendor/img/users/default_avatar.jpg' %}
    {% endif %}" alt="Avatar">

  <div class="media-body">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mt-0">{{ comment.user }}</h5>
      </div>
<div>
  <small class="opacity-70">{{ comment.date|date:"d M Y" }}</small>
</div>


    </div>
    <p>{{ comment.content }}</p>
  </div>
</div>
    <hr class="my-3">
{% endfor %}
      <!-- End of Comment section -->










        </div>
    </div>


        </div>
      </div>
    </div>
        </div>
  </div>
</div>
</div>
</body>

{% block script %}
  <script type="text/JavaScript" src="{% static 'vendor/js/world.js' %}"></script>
{% endblock script %}

{% endblock %}
