{% extends 'partials/base.html' %}
{% load static %}

{% block scripts %}
{% endblock %}

{% block content %}

<style>
    body {
    background-color: #212529;
    }
    .card-description {
    height: 100%;
    overflow: hidden;
    }
    .card-details {
    height: 100%;
    margin: 0 15px;
    }
    .card-description {
    height: 190px;
    overflow-y: auto;
    }
</style>

<body class="text-white">

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">

<div class="filter-section border border-secondary p-3">
  <div class="d-flex">

    <form class="form-inline mx-auto" action="{% url 'worlds:index' %}" method="GET">
      <div class="input-group">
        <input name="keywords" class="form-control" type="search" placeholder="Search Items" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </div>
      </div>


<div class="container mt-4">

  <div class="row">
    <div class="col">
    {% if user.is_authenticated %}
      <div class="form-group">
        <input class="form-check-input" type="checkbox" name="fav_world" value="True" id="fav_world">
        <label class="form-check-label custom-checkbox-label" for="fav_world">
          Favourite Worlds
        </label>
      </div>
    {% endif %}
    </div>
  </div>


<div class="row">
    <div class="col">
        <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">World type</h5>
        {% for world_type in world_types %}
            <div class="form-group">
                <input class="form-check-input" type="checkbox" name="world_type" value="{{ world_type.slug }}" id="{{ world_type.slug }}">
                <label class="form-check-label custom-checkbox-label" for="{{ world_type.slug }}">
                {{ world_type.name }}
                </label>
            </div>
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col">
        <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">World gods</h5>
        {% for world_god in world_gods %}
            <div class="form-group">
                <input class="form-check-input" type="checkbox" name="world_gods" value="{{ world_god.slug }}" id="{{ world_god.slug }}">
                <label class="form-check-label custom-checkbox-label" for="{{ world_god.slug }}">
                {{ world_god.name }}
                </label>
            </div>
        {% endfor %}
    </div>
</div>

  <div class="row mt-3">
    <div class="col">
      <button type="submit" class="btn btn-primary">Apply Filters</button>
    </div>
  </div>

</div>


    </form>
  </div>
</div>

    </div>


      <div class="col-md-9">
      <div class="row">

{% for world in object_list %}
    <div class="col-md-12 mb-4">
        <div class="card bg-dark text-white">
            <div class="row no-gutters">

                <div class="col-md-4">
                    <a href="{% url 'worlds:world' world.slug %}">
                        <img src="{{ world.image.url }}" class="card-img" alt="{{ world.name }}">
                    </a>
                </div>

                <div class="col-md-8">
                    <div class="card-body">

                        <div class="d-flex justify-content-center align-items-center">
                            <a href="{% url 'worlds:world' world.slug %}" class="card-title">{{ world.name }}</a>
                            {% if world.sphere %}
                                <small class="text-secondary ml-2">{{ world.sphere.name }}</small>
                            {% endif %}
                        </div>

                        <div class="d-md-flex justify-content-between card-sections">
                            <div class="card-description">
                                <p class="card-text">{{ world.description }}</p>
                            </div>

                            <div class="card-details">
                                <p><strong>Type:</strong> {{ world.world_type }}</p>
                                <p><strong>Gods:</strong>
                                    {% for world_god in world.world_gods.all %}
                                        {{ world_god.name }}
                                    {% endfor %}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endfor %}

      </div>
    </div>

  </div>
</div>
</body>
{% endblock %}
