{% extends 'items/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        Info message-->
        <!--    </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5 text-white">Descriptions</h1>
                    <p class="text-white">This site is an absolute blast for anyone interested in the world of magic and fantasy. Here you can find descriptions of items, spells, worlds, and more. It's a must-visit for anyone looking for a fun time diving into the crazy world of fantasy and magic. You'll have a blast exploring the wonderful world of fantasy and magic - it's time to start your adventure today!
                    </p>
                    <button type="button" class="btn btn-outline-light">
                        <a id="start-purchase-link" href="{% url 'items:index' %}">
                            Start exploring!
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
