{% extends 'partials/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load rating_tags %}

{% block content %}

<body class="text-white">

<div class="container mt-4" style="margin-bottom: 60px;">
  <div class="row">
    <div class="col-md-3">

<div class="filter-section border border-secondary p-3">
  <div class="container mt-0">

    <div class="row">
      <div class="col">
            <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">Quality</h5>
            <a>
                {% include 'partials/_modal.html' with slug=item.quality.slug title=item.quality.name cont=item.description %}
            </a>
      </div>
    </div>


      <div class="row">
      <div class="col">
            <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">Category</h5>
            <a>
                {% include 'partials/_modal.html' with slug=item.category.slug title=item.category.name cont=item.category.description %}
            </a>
      </div>
    </div>

<div class="row">
  <div class="col">
    <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">Favourite</h5>
    <a href="{% url 'items:favourite_item' item.slug %}">
      {% if user not in item.favourite.all %}
          <i class="far fa-heart text-white" style="font-size: 20px;"></i> Add Item
      {% else %}
          <i class="fas fa-heart text-white" style="font-size: 20px;"></i> Delete Item
      {% endif %}
    </a>
  </div>
</div>

<div class="row">
    <div class="col">
        <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">Rating</h5>
        <a>
            {% render_rating_import %}
            {% render_rating request=request obj=item settings_slug='default-config' %}
            {% render_rating_info request=request obj=item settings_slug='default-config' %}
            {% render_rating_script %}
        </a>
    </div>
</div>

  </div>
</div>

    </div>

        <div class="col-md-9">
        <div class="row">

                                <div class="col-md-12 mb-4">

      <div class="card bg-dark text-white">
        <div class="card-body bg-dark text-light">
                            <div class="row no-gutters">
            <div class="col-md-12">
              <h1 class="text-center">{{ item.name }}</h1>
            </div>
          </div>
<div class="row">

  <div class="col-md-4">

        {% include 'partials/_modal-img.html' with title=item.name img=item.image.url slug=item.slug %}

  </div>

  <div class="col-md-8">
    <p>{{ item.description }}</p>
  </div>
</div>

            <hr class="my-3 border-white">
              <div class="d-flex justify-content-between align-items-center">
<div>
  <h6 class="mb-0">Comments ({{ post_comments_count }})</h6>
  <small class="text-muted">Added {{ item.created_timestamp|date:"H:i:s d M Y" }}
    | {% get_hit_count for item %} hits</small>
</div>

<div>
  <button type="button" class="btn btn-outline-primary text-white" data-toggle="collapse"
    data-target="#commentForm" aria-expanded="false" aria-controls="commentForm">Leave a Comment</button>
</div>

              </div>
    <hr class="my-3">
              <div id="commentForm" class="collapse">
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'items:item' item.slug %}" class="comment-form">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.as_p }}
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary text-white" type="submit">Submit</button>
                  </div>
                </form>
                {% else %}
                <div class="alert alert-warning" role="alert">
                  You need to <a href="{% url 'users:login' %}">log in</a> to leave a comment.
                </div>
                {% endif %}
              </div>



              <div class="media-list mt-4">

{% for comment in post_comments %}
<div class="media mb-3">
  <img class="mr-3" width="50" height="50" src="
    {% if comment.user.image %}
      {{ comment.user.image.url }}
    {% else %}
      {% static 'vendor/img/users/default_avatar.jpg' %}
    {% endif %}" alt="Avatar">

  <div class="media-body">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mt-0">{{ comment.user }}</h5>
      </div>
<div>
  <small class="opacity-70">{{ comment.date|date:"d M Y" }}</small>
</div>


    </div>
    <p>{{ comment.content }}</p>
  </div>
</div>
    <hr class="my-3">
{% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
  </div>
</div>
</div>
</body>













{#{% block content %}#}
{#    <div class="container">#}
{#        <br>#}
{#        <div class="col-lg-6" style="float:none;margin:auto;">#}
{#            <div class="card h-100">#}
{#                <a href="{% url 'items:item' item.slug %}">#}
{#                    <img class="card-img-top"#}
{#                         src="{{ item.image.url }}"#}
{#                         alt="">#}
{#                </a>#}
{#                <div class="card-body">#}
{#                    <h4 class="card-title">#}
{#                        <a href="{% url 'items:item' item.slug %}">{{ item.name }}</a>#}
{#                    </h4>#}
{#                    <h5>{{ item.quality }}</h5>#}
{#                    <p class="card-text">{{ item.description }}</p>#}
{#                </div>#}
{#        {% if user.is_authenticated %}#}
{#                    <div class="card-footer text-center">#}
{#                        <a class="btn btn-outline-success"#}
{#                           href="{% url 'items:favourite_item' item.slug %}">#}
{#                            {% if user not in item.favourite.all %}#}
{#                                Add Item#}
{#                            {% else %}#}
{#                                Delete Item#}
{#                            {% endif %}#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                    {% endif %}#}
{##}
{#                <div class="card-body">#}
{#                    <p>{% render_rating_import %}#}
{##}
{#                    {% render_rating request=request obj=item settings_slug='default-config' %}#}
{##}
{#                    {% render_rating_info request=request obj=item settings_slug='default-config' %}#}
{##}
{#                    {% render_rating_script %}</p>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#        <br>#}
{#            <div class="single-form-center">#}
{#                <!-- contact form grid -->#}
{#                <div class="contact-single">#}
{#                    <h3 class="editContent" style="outline: none; cursor: inherit;">#}
{#                                    <span class="sub-tittle editContent" style="outline: none; cursor: inherit;"></span>#}
{#                        Comments({{ post_comments_count }})#}
{#                    </h3>#}
{#                    <p>{{ item.created_timestamp }} | {{ item.category }} | {% get_hit_count for item %} hits</p>#}
{##}
{#                    <div class="media-list">#}
{#                        {% for comment in post_comments %}#}
{#                            <div>#}
{#                                <img  width="50" height="50" src="#}
{#                                    {% if comment.user.image %}#}
{#                                        {{ comment.user.image.url }}#}
{#                                    {% else %}#}
{#                                        {% static 'vendor/img/users/default_avatar.jpg' %}#}
{#                                    {% endif %}" alt="Avatar">#}
{##}
{#                                <div class="media-body">#}
{#                                    <div class="small-1">#}
{#                                        <b> {{ comment.user }}</b>#}
{#                                        <time class="ml-4 opaciy-70 small-3"> {{ comment.date }}</time>#}
{#                                    </div>#}
{#                                    <p> {{ comment.content }}</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{##}
{#                {% if user.is_authenticated %}#}
{##}
{#                    <form method="POST" action="{% url 'items:item' item.slug %}">#}
{#                        {% csrf_token %}#}
{#                        <div class="form-group">#}
{#                                    {{ form.as_p }}#}
{#                        </div>#}
{#                        <button class="btn btn-primary btn-block " type="submit">Comment</button>#}
{#                    </form>#}
{##}
{#                {% endif %}#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#                <!--  //contact form grid ends here -->#}



{% block script %}
  <script type="text/JavaScript" src="{% static 'vendor/js/world.js' %}"></script>
{% endblock script %}

{% endblock %}
