{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<body class="text-white">

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3">

<div class="filter-section border border-secondary p-3">
  <div class="d-flex">
    <form class="form-inline mx-auto" action="{% url 'items:index' %}" method="GET">
      <div class="input-group">
        <input name="keywords" class="form-control" type="search" placeholder="Search Items" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </div>
      </div>

<div class="container mt-4">

  <div class="row">
    <div class="col">
    {% if user.is_authenticated %}

      <div class="form-group">

        <input class="form-check-input" type="checkbox" name="favourites" value="True" id="favourites">
        <label class="form-check-label custom-checkbox-label" for="favourites">
          Favourites
        </label>
      </div>

    {% endif %}
    </div>
  </div>


<div class="row">
    <div class="col">
        <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">Category</h5>
        {% for category in categories %}

            <div class="form-group">
                <input class="form-check-input" type="checkbox" name="category" value="{{ category.slug }}" id="{{ category.slug }}">
                <label class="form-check-label custom-checkbox-label" for="{{ category.slug }}">
                  {{ category.name }}
                </label>
            </div>

        {% endfor %}
    </div>
</div>

    <div class="row">
        <div class="col">
            <h5 class="text-white mt-3 pt-1" style="border-top: 1px solid white;">Quality</h5>
          {% for quality in qualities %}
          <div class="form-group">
            <input class="form-check-input" type="checkbox" name="quality" value="{{ quality.slug }}" id="{{ quality.slug }}">
            <label class="form-check-label custom-checkbox-label" for="{{ quality.slug }}">
              {{ quality.name }}
            </label>
          </div>
          {% endfor %}
        </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button type="submit" class="btn btn-primary">Apply Filters</button>
    </div>
  </div>
</div>




    </form>
  </div>
</div>

      </div>


        <div class="col-md-9">
        <div class="row">




{% for item in object_list %}

    <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
          <a href="{% url 'items:item' item.slug %}" class="card-link">
            <img src="{{ item.image.url }}" class="card-img-top" alt="Card Image">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="{% url 'items:item' item.slug %}" class="card-link">{{ item.name }}</a></h5>
              <h6 class="card-subtitle mb-2 text-center" style="color: {{ item.quality.color }};">{{ item.quality }}</h6>
            <p class="card-text">{{ item.description|truncatechars:98 }}</p>
          </div>
            {% if user.is_authenticated %}
          <div class="card-footer">
            <a href="{% url 'items:favourite_item' item.slug %}" class="card-link d-block text-center">
              {% if user not in item.favourite.all %}
                Add Item
              {% else %}
                Delete Item
              {% endif %}
            </a>
          </div>
            {% endif %}
        </div>
    </div>

{% endfor %}

        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}
